basePath: /
host: localhost:8080
info:
  contact: {}
  description: This is the Hearth API server.
  title: Hearth API
  version: "1.0"
paths:
  /health:
    get:
      description: Checks if the server and database are up
      operationId: healthCheck
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Health Check
      tags:
      - health
swagger: "2.0"
